.share {
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 100;
    background: #000;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__icon {
        margin: 0 10px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 50%;
        background: #FFF;
        color: #000;
        transition: color .4s;
    }
}

.top-logo {
    border-right: 1px solid #FFF;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    img {
        display: block;
        width: 30px;
        height: 34px;
    }
}

@media screen and (min-width: 768px) {
	/* SOCIALS NETWORK */
    .share {
        top: 50%;
        left: auto;
        right: 0;
        bottom: auto;
        transform: translateY(-50%);
        flex-direction: column;
        width: auto;
        padding: 12px 10px;
        &__icon {
            margin: 5px 0;
            &:hover {color: lime;}
        }
    }

    .top-logo {
        border-right: none;
        border-bottom: 1px solid #FFF;
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
    }
}