@import './common_projects_utilities/css/font-awesome', 
    './common_projects_utilities/css/reset',
    './common_projects_utilities/css/footer';

/* FONTS */
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

/* COLORS */
$text-color: #fff;
$background-color: #121212;

/* GENERAL */
body {
	font-family: $roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	color: $text-color;
	background-color: $background-color;
}
a {text-decoration: none;}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
p {margin-bottom: 24px;}
ul {list-style: none;}
li {
	position: relative;
	padding-left: 16px;
	margin-bottom: 24px;
	&::before {
		content: '';
		position: absolute;
		top: 12px;
		left: 0;
		width: 3.25px;
		height: 3.25px;
		border-radius: 50%;
		background-color: #000;
	}
	&:last-child {margin-bottom: 0}
}
strong {font-weight: 700;}
video {max-width: 100%;}
.text-center {text-align: center;}
.ec_visit_pixel {position: absolute;}

/* PRINCIPAL LAYOUT */
.container {
	width: 100%;
	max-width: 972px;
	margin: 0 auto;
}
.row {
	display: flex;
    &--column {flex-direction: column;}
	&--wrap {flex-wrap: wrap;}
	&--center {justify-content: center;}
	&--between {justify-content: space-between;}
	&--end {justify-content: flex-end;}
	&--astart {align-items: flex-start;}
	&--acenter {align-items: center;}
}

/* TOPBAR */
.topbar {
	padding: 16px 0 16px;
	margin-bottom: 48px;
	border-bottom: 1px dotted;
}

/* VÍDEOS EMBEBIDOS > DIRECTO */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	margin: 40px auto;
}

/* RESTO DEL CONTENIDO */
.content {
	&__main-logos {
		display: flex;
		justify-content: space-between;
		max-width: 370px;
		margin: 0 auto;

		.main-logo {
			display: flex;
			align-items: center;
			&__text {
				font-size: 11px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: 0.32px;
				text-align: left;
				color: #ffffff;

				margin-right: 12px;
			}
		}
	}

	&__main-text {
		margin-bottom: 80px;

		.main--blocks {
			display: flex;
			justify-content: space-between;

			.main-block--one {
				width: 100%;
				max-width: 556px;

				margin-right: 10px;
			}

			.main-block--two {
				width: 100%;
				max-width: 390px;
				height: 565px;
			}
		}
	}

	&__related-content {
		margin-bottom: 86px;

		.cards {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;			
		}

		.card {
			width: 308px;
			height: auto;

			cursor: pointer;

			&:not(:last-of-type){
				margin-bottom: 32px;
			}			

			&__img {
				width: 100%;
				height: auto;

				margin-bottom: 32px;
				
				img {
					width: 100%;
					height: auto;
				}
			}
			&__title {
				font-family: $playfair;
				font-size: 24px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.08;
				letter-spacing: -0.2px;
				text-align: left;
				color: #ffffff;
			}
		}
	}

	&__footer-logos {
		margin-bottom: 104px;

		.b-footer-logos {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__link {
		color: #F75D53;
	}
}

/* ELEMENTOS COMUNES */
.capital-letter {
	float: left;
    font-family: "Playfair Display",serif;
    font-size: 46px;
    line-height: 1.04;
    letter-spacing: -1px;
    margin-right: 16px;
}
.pretitle {
	font-size: 15px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #ffffff;

	margin-bottom: 40px;
}
.main-title {
	font-family: $playfair;
	font-size: 60px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;

	margin-bottom: 88px;
}

/* SOCIALS NETWORK */
.share {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 100;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__icon {
    	margin: 5px 0;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 50%;
        background: #000;
        color: #fff;
        transition: color .4s;
        &:hover {color: #F75D53;}
    }
}

.top-logo {
	border-bottom: 1px solid #fff;
	margin: 0 0 10px;
	padding: 0 0 10px;
    img {display: block;}
}

/* OTROS */
.only-responsive {
	display: none;
}

@media only screen and (max-width: 945px) {
	.top-logo {
	    border-bottom: transparent;
	    border-right: 1px solid #fff;
	    margin: 0 10px 0 0;
	    padding: 0 10px 0 0;
	}

	.share {
		box-sizing: border-box;
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
	}
	
}

@media only screen and (max-width: 768px) {
    .topbar {
		margin-bottom: 24px;
	}

	.embed-container {
		margin: 32px auto;
	}

	.only-responsive {display: block;}

	.content {
		&__main-logos {
			display: flex;
			justify-content: space-around;
			max-width: 360px;
			margin: 0 auto;
	
			.main-logo {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				&__text {
					margin-right: 0px;

					&.first {
						margin-bottom: 16px;
					}
					&.second {
						margin-bottom: 8px;
					}
				}
			}
		}
		&__main-text {
			.main--blocks {
				flex-direction: column;
				justify-content: center;

				.main-block--one {
					box-sizing: border-box;
					padding: 0px 16px;
					width: 100%;
					max-width: none;

					margin-bottom: 24px;
				}
				.main-block--two {
					width: 100%;
					margin: 0 auto;
				}
			}
		}
		&__related-content {
			margin-bottom: 16px;
		}
		&__footer-logos {
			margin-bottom: 48px;
			.b-footer-logos {
				box-sizing: border-box;
				padding: 0px 16px;

				.logo__img {
					width: 33%;
					margin-bottom: 30px;

					display: flex;
					justify-content: center;

					&.only-responsive {
						margin-bottom: 0px;
					}
				}
			}
		}
	}

	.main-title {
		padding: 0px 16px;
		margin-bottom: 32px;
	}

	.pretitle {
		padding: 0px 16px;
		&.first {
			margin-bottom: 16px;
		}
		&.second {
			margin-bottom: 32px;
		}
		&.last {
			text-align: center;
			margin-bottom: 40px;
		}
	}
}

@media only screen and (max-width: 676px) {
	.main-title {
		font-size: 40px;
	}
}

@media only screen and (max-width: 660px) {
	.content {
		&__related-content {
			.cards {
				justify-content: center;
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.content {
		&__footer-logos {
			.b-footer-logos {
				.logo__img {
					width: 50%;
				}
			}
		}
	}
}

@media only screen and (max-width: 475px) {
	.content {
		&__footer-logos {
			.b-footer-logos {
				.logo__img {
					width: 100%;
				}
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	.content {
		&__related-content {
			.card {
				width: 100%;

				&__title {
					box-sizing: border-box;
					padding: 0px 16px;
				}
			}
		}
	}
}